<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>Admin Panel</h1>
    <h1><a href="/admin/new">Create new user</a></h1>
    <table th:border="1">
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>surname</th>
            <th>Action</th>
        </tr>
        <tr th:each="user : ${admin}">
            <td th:utext="${user.id}"></td>
            <td th:utext="${user.name}"></td>
            <td th:utext="${user.surname}"></td>
            <td>
                <div class="actions">
                    <a th:href="@{/admin/edit(id=${user.id})}">Edit user</a>
                    <a th:href="@{/admin/delete(id=${user.id})}">Delete</a>
                </div>
            </td>
        </tr>
    </table>
    <br/>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>