<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

    <form th:method="POST" th:action="@{/admin/save}" th:object="${user}">
        <label for="firstName">Enter name: </label>
        <input type="text" th:field="*{name}" id="firstName">
        <br/>
        <label for="lastName">Enter surname: </label>
        <input type="text" th:field="*{surname}" id="lastName">
        <br/>
        <label for="username">Enter username: </label>
        <input type="text" th:field="*{username}" id="username">
        <br/>
        <label for="password">Enter password: </label>
        <input type="text" th:field="*{password}" id="password">
        <br/>
        <div>
            <label>Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${allRoles}"
                       th:text="${role.role}"
                       th:value="${role.id}"
                />
            </label>
        </div>
        <input type="submit" value="Create">
        <br/>


    </form>

</body>
</html>